.word.card {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    overflow-y: auto;
    background-color: rgba(241, 236, 236, 0.9) !important;
}

/* Word.css */


.word.card .card-body {
    font-family: Arial, sans-serif;
}

.word.card h3 {
    color: #333;
}

.word.card .pronunciation {
    margin-top: 10px;
}

.word.card h4 {
    color: #555;
}

.word.card ul {
    list-style-type: disc; /* Use 'disc' for filled circles, 'circle' for empty circles, or 'square' for filled squares */
    padding: 0;
    margin-left: 40px;
}

.word.card li {
    margin-bottom: 5px;

}

/* Add more styles as needed for your specific design */