.footer {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5) !important;


}

.footer a {
  color: #a3de83;
}

.footer p {
  color: rgba(255, 255, 255, 0.3);
}

.footer .footer-heading {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer .footer-heading .logo {
  color: #fff;
}

.footer .menu {
  margin-bottom: 30px;
}

.footer .menu a {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer .ftco-footer-social li a {
  background: transparent;
  border: 1px solid #a3de83;
}