.content-area {
    position: relative;
    /* Needed for absolute positioning of children */
}

.preloader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* Ensure it's above other elements in the div */
}