  @media screen and (max-width:  768px) {
    .word-set.card {
      height: 50px;
      width: 90vw;
    
    }
  }

.word-set.card {
  height: 150px;
}

.word-set .card-text {
  height: 15px;
}


.word-set.card {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  background-color: rgba(241, 236, 236, 0.9) !important;
}

.word-set.card:hover {
  transform: scale(1.05);
}

.remove-btn {
  margin-left: auto;
  color: red;
}